---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar";
import Footer from "../components/Footer";
import ProductsComponent from "../components/Products";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" />
    
  </head>
  <body class="flex flex-col min-h-screen">
    <NavBar client:load/>
    <main class="container mx-auto p-4">
      <ProductsComponent client:load />
    </main>
    <Footer client:load/>
  </body>
</html>